.checkbox {
  .van-checkbox {
    margin: 7px 0px;
  }

  .inline {
    .van-checkbox {
      margin: 7px 7px 7px 0px;
    }
  }
  .popup {
    .other-option {
      position: absolute;
      left: 60px;
    }
  }
}

.van-checkbox__label {
  display: flex;
  span {
    width: 40px;
    line-height: 1.5em;
  }
}