.van-cell.van-field.slp-field .van-field__control {
  .ivu-date-picker {
    margin-top: $field-date-picker-margin-top;

    .ivu-date-picker-rel .ivu-input-inner-container .ivu-input {
      border: none;
      border-bottom: $field-border-bottom-width solid $field-border-bottom-color;
      border-radius: 0;
      padding: $field-date-picker-input-padding;
      outline: none;
    }
  }

  .ivu-date-picker-focused input {
    box-shadow: $field-date-picker-focused-box-shadow;
  }
}
