.van-cell.van-field.slp-field .van-field__control {
  .ivu-select .ivu-select-selection {
    border: none;
    background: none;
  }

  .ivu-select-visible .ivu-select-selection {
    box-shadow: none;
  }

  .ivu-select .ivu-select-selected-value {
    color: $field-radio-value-color;
    font-size: $field-radio-value-font-size;
    padding: $field-radio-value-padding;
  }

  .ivu-select .ivu-select-placeholder {
    color: $field-radio-placeholder-color !important;
    font-size: $field-radio-placeholder-font-size;
    padding: $field-radio-placeholder-padding;
  }

  .ivu-select-dropdown-list .ivu-select-item {
    font-size: $field-dropdown-list-item-font-size !important;
    color: $field-dropdown-list-item-color !important;
  }

  .ivu-select-dropdown-list .ivu-select-item:hover {
    background-color: $field-dropdown-list-item-hover-background-color;
    color: $field-dropdown-list-item-hover-color !important;
  }

  .ivu-select-item.ivu-select-item-selected,
  .ivu-select-item.ivu-select-item-focus {
    background-color: $field-dropdown-list-item-selected-background-color;
    color: $field-dropdown-list-item-selected-color !important;
  }

  /* BrickCheckboxSelect */
  .popover {
    width: 100%;
  }

  .select-trigger,
  .select-trigger.select-trigger--focus {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: #313c56;
  }

  .select-trigger:hover {
    background-color: transparent;
  }

  .popover__body {
    background-color: #ffffff;
  }

  .popover__content {
    left: 0;
    width: 100%;
  }

  .popover__body__content {
    padding: 0;
  }

  .select__selection .list__item {
    font-size: 14px;
    background-color: #ffffff;
    color: #6b7885;
    border-bottom: none;
    box-shadow: none;

    &:hover {
      background-color: #f4f4f8;
      color: #313c56;
      border-bottom: none;
    }
  }

  .checkbox-select__value-item {
    color: #313c56;
  }
}
