.text-area {
  display: flex;
  flex-direction: column;
  .van-cell__title {
    order: 0;
  }
  .description {
    order: 1;
    margin-top: 10px;
  }
  .van-cell__value {
    order: 2;
  }

  .van-field__control {
    border-bottom: $field-border-bottom-width solid $field-border-bottom-color;
    padding: 4px 0;
    min-height: 100px !important;

  }
  .inline {
    flex-direction: row;
    .description {
      display: none;
    }
  }
}
