.text {
  display: flex;
  flex-direction: column;
  .van-cell__title {
    order: 0;
  }
  .description {
    order: 1;
    margin-top: 10px;
  }
  .van-cell__value {
    order: 2;
  }

  // inline
  .van-cell.van-field.inline {
    flex-direction: row;
  }
  .van-field__control {
    border-bottom: $field-border-bottom-width solid $field-border-bottom-color;
    padding: 4px 0;
  }
}
