.van-cell.van-field.slp-field {
  flex-direction: column;
  overflow: visible;
  padding: $field-padding;

  &.van-field--disabled .van-field__label {
    color: #c8c9cc;
  }

  &.error {
    background-color: $field-error-background-color;
  }

  &.required {
    .van-field__label span::after {
      position: absolute;
      content: '*';
      bottom: 0;
      left: -13px;
      color: $field-required-color;
      font-size: 30px;
      z-index: 1;
      transform: translateY(-50%);
      height: 13px;
    }
  }

  &::after {
    display: none;
  }

  .van-field__label {
    font-weight: $field-label-font-weight;
    font-size: $field-label-font-size;
    color: $field-label-color;
    line-height: $field-label-line-height;
    width: auto;
    position: relative;
  }

  .van-field__value {
    margin-top: 8px;
    line-height: $field-value-line-height;
  }

  .van-field__body {
    display: flex;
    margin-bottom: $field-margin-bottom;
  }

  &.no-border .van-field__control {
    border-bottom: none;
  }

  .van-field__control {
    color:$field-value-color;
    line-height: inherit;
    overflow: hidden;
    flex: 1;
    font-size: $field-value-font-size;
    font-weight: $field-value-font-weight;
    padding: $field-value-padding;
    border: none;
    outline: none;
    background: none;
    min-height: 1em;
    box-shadow: none;
    border-radius: 0;
    border-bottom: $field-border-bottom-width solid $field-border-bottom-color;
    overflow: visible;
  }
}
