.van-field {
  flex-direction: column;
  overflow: visible;
  padding: $field-padding;
  margin-bottom: $field-margin-bottom;

  &.van-field--disabled .van-field__label {
    color: #c8c9cc;
  }

  &.error {
    background-color: $field-error-background-color;
    .other-input {
      background-color: $field-error-background-color;
    }
  }

  &.required {
    .van-field__label span::after {
      position: absolute;
      content: '*';
      top: 12px;
      left: -14px;
      color: $field-required-color;
      font-size: 30px;
      transform: translateY(-50%);
      height: 13px;
    }
  }

  &::after {
    display: none;
  }

  .van-field__label {
    font-weight: $field-label-font-weight;
    font-size: $field-label-font-size;
    color: $field-label-color;
    line-height: $field-label-line-height;
    width: auto;
    position: relative;
  }

  .van-field__value {
    line-height: 2em;
  }

  .van-field__right-icon {
    position: absolute;
    right: 0px;

    .van-icon-play::before {
      transform: rotate(90deg);
    }
  }
}

.van-field__control {
  color: $field-value-color;
  line-height: inherit;
  overflow: hidden;
  flex: 1;
  font-size: $field-value-font-size;
  font-weight: $field-value-font-weight;
  padding: $field-value-padding;
  border: none;
  outline: none;
  background: none;
  min-height: 1em;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
}

// 其他选项
.other-option {
  border: none;
  margin-left: 10px;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px;
}
.other-option::placeholder {
  color: #cccbcb;
  font-size: 16px;
}
.select {
  .other-option {
    @extend .other-option;
    position: absolute;
    left: 60px;
  }
}

.popup {
  height: 82%;
  overflow: scroll;

  .van-cell {
    font-size: 16px;
  }
  .other-option::placeholder {
    color: #cccbcb;
    font-size: 16px;
  }
  .van-cell--clickable {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// 描述
.description {
  font-size: 16px;
  color: #888;
  line-height: $field-value-line-height;
  text-align: left;
  width: 100%;
}

// 下拉,描述排序
.select {
  display: flex;
  flex-direction: column;

  .van-cell__title {
    order: 0;
  }

  .description {
    order: 1;
    margin-top: 10px;
  }
  .van-cell__value {
    order: 2;
  }
}

// 平铺,描述隐藏
.inline .description {
  display: none;
}
