.uploader {
  .van-uploader {
    width: 100%;
  }
  .van-uploader__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .van-uploader__preview {
    position: relative;
    margin: 10px 14px 0px 0px;
    cursor: pointer;
    justify-self: center;
  }

  .van-uploader__upload {
    margin: 10px 10px 0 0;
    justify-self: center;
  }

  .van-field__control {
    display: flex;
    flex-direction: column;
  }
}
