$field-padding: 12px 20px 0;
$field-required-color: #ff9800;
$field-error-background-color: #fcebec;
$field-label-font-weight: 500;
$field-label-font-size: 16px;
$field-label-color: #313131;
$field-label-line-height: 1.5em;
$field-value-line-height: 1.5em;
$field-value-color: #313131;
$field-value-font-size: 14px;
$field-value-font-weight: 400;
$field-value-padding: 4px 0;
$field-border-bottom-width: 1px;
$field-border-bottom-color: #e0e0e0;
$field-margin-bottom: 25px;

// 多选
$field-checkbox-value-color: #313c56;

// 单选
$field-radio-value-color: #313131;
$field-radio-value-font-size: 14px;
$field-radio-value-padding: 0;
$field-radio-placeholder-color: #969799;
$field-radio-placeholder-font-size: 14px;
$field-radio-placeholder-padding: 0;
$field-dropdown-list-item-font-size: 14px;
$field-dropdown-list-item-color: #313131;
$field-dropdown-list-item-hover-background-color: #f4f4f8;
$field-dropdown-list-item-hover-color: #313131;
$field-dropdown-list-item-selected-background-color: #f4f4f8;
$field-dropdown-list-item-selected-color: #313131;

// 日期选择器
$field-date-picker-margin-top: 4px;
$field-date-picker-focused-box-shadow: none;
$field-date-picker-input-padding: 4px 32px 4px 0;
